<%
var post_author_name = post.author ? post.author : config.author;
var author = site.data.authors.filter(function(data) {
  return data.name == post_author_name
})[0];
%>
<div class="sobre-autor" id="sobre-autor">
  <h2>Sobre o autor</h2>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="img img-circle">
        <img width="150" height="150" src="<%= gravatar(author.email, {s: 150, d: config.url + url_for(author.avatar)}) %>" class="attachment-thumbnail size-thumbnail wp-post-image" alt="<%= post_author_name %>" />
    </div>                                
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12">
    <h3><%= author.name %></h3>
    <p style="text-align: justify;"><%- markdown(author.bio) %></p>
  </div>
</div>