<div style="cursor: pointer;" onclick="window.location='/contato'">
    <div class="rev_slider" style="max-height: 250px; height: 250px;">
        <ul>
            <li style="width: 100%; height: 100%; overflow: hidden; visibility: inherit; opacity: 1;">
                <div>
                    <img id="banner_marqueavaliacao_bg" data-src="/images/Sorrisos-perfeito.jpg" alt="" loading="lazy" class="lazyload" />
                </div>
                <span id="banner_marqueavaliacao_1" class="tp-caption">
                    Marque sua consulta de avaliação 
                </span>
                <span id="banner_marqueavaliacao_2" class="tp-caption">
                    Clique aqui ou ligue 
                </span>
                <span id="banner_marqueavaliacao_3" class="tp-caption">
                    21 2266-5955 
                </div>
            </li>
        </ul>
    </div>
    <style scoped="">
        #banner_marqueavaliacao_bg
        {
            width: 100%;
            height: 100%;
            transform: matrix(1, 0, 0, 1, 0, -150);
        }

        #banner_marqueavaliacao_1
        {
            line-height: normal;
            font-weight: 700;
            font-family: Arial;
            color: #ffffff;
            text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
            text-align: center;
            z-index: 1;
            max-width: 350px;
            white-space: normal;
            font-size: 34px;
            left: 22px;
            top: 15px;
            visibility: visible;
        }

        #banner_marqueavaliacao_2
        {
            line-height: normal;
            font-weight: 600;
            font-family: "Open Sans";
            color: rgb(255, 255, 255);
            text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
            border: none;
            z-index: 2;
            font-size: 14px;
            left: 20px;
            top: 115px;
            visibility: visible;
        }
        
        #banner_marqueavaliacao_3
        {
            line-height: normal;
            font-weight: 900;
            font-family: Raleway;
            color: rgb(255, 255, 255);
            text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
            border: none;
            z-index: 3;
            font-size: 60px;
            left: 12px;
            top: 130px;
            visibility: visible;
        }

        @media only screen and (max-width: 600px)
        {
            #banner_marqueavaliacao_bg
            {
                width: 100%;
                height: 100%;
                position: inherit;
                transform: none;
            }

            #banner_marqueavaliacao_1 {
                width: 240px;
                left: 5px;
                font-size: 24px;
            }
            
            #banner_marqueavaliacao_2 {
                left: 10px;
                white-space: normal;
            }
            
            #banner_marqueavaliacao_3 {
                font-size: 30px;
                top: 140px;
            }
        }
    </style>
</div>