<div style="cursor: pointer;" onclick="window.location='/contato'">
    <div class="rev_slider" style="max-height: 250px; height: 250px;">
        <ul>
            <li style="width: 100%; height: 100%; overflow: hidden; visibility: inherit; opacity: 1;">
                <div>
                    <img id="banner_marqueavaliacao_bg" src="/images/Sorrisos-perfeito.jpg" />
                </div>
                <span id="banner_marqueavaliacao_1" class="tp-caption">
                    Marque sua consulta de avaliação 
                </span>
                <span id="banner_marqueavaliacao_2" class="tp-caption">
                    Marque agora CLICANDO AQUI ou ligando para 
                </span>
                <span id="banner_marqueavaliacao_3" class="tp-caption">
                    021-2266-5955 
                </div>
            </li>
        </ul>
    </div>
    <style scoped="">
        #banner_marqueavaliacao_bg
        {
            position: absolute;
            width: 100%;
            height: 250%;
            transform: matrix(1, 0, 0, 1, 0, -166);
        }

        #banner_marqueavaliacao_1
        {
            line-height: 35px;
            font-weight: 700;
            font-family: Arial;
            color: #ffffff;
            text-decoration: none;
            background-color: transparent;
            text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
            margin: 0px;
            text-align: center;
            border-width: 0px;
            border-color: rgb(255, 255, 255);
            border-style: none;
            z-index: 1;
            max-width: 350px;
            max-height: 30px;
            white-space: normal;
            font-size: 34px;
            left: 45px;
            top: 15px;
            visibility: visible;
        }

        #banner_marqueavaliacao_2
        {
            line-height: 28px;
            font-weight: 300;
            font-family: "Open Sans";
            color: rgb(255, 255, 255);
            text-decoration: none;
            background-color: transparent;
            padding: 0px;
            border-width: 0px;
            border-color: rgb(255, 214, 88);
            border-style: none;
            z-index: 2;
            font-size: 14px;
            left: 60px;
            top: 115px;
            visibility: visible;
        }
        
        #banner_marqueavaliacao_3
        {
            line-height: 70px;
            font-weight: 900;
            font-family: Raleway;
            color: rgb(255, 255, 255);
            text-decoration: none;
            background-color: transparent;
            text-shadow: none;
            border-width: 0px;
            border-color: rgb(0, 0, 0);
            border-style: none;
            z-index: 3;
            font-size: 60px;
            left: 12px;
            top: 130px;
            visibility: visible;
        }

        @media only screen and (max-width: 600px)
        {
            #banner_marqueavaliacao_bg
            {
                width: 100%;
                height: 100%;
                position: inherit;
                transform: none;
            }

            #banner_marqueavaliacao_1 {
                width: 240px;
                left: 12px;
                font-size: 24px;
            }
            
            #banner_marqueavaliacao_2 {
                width: 220px;
                left: 12px;
                white-space: normal;
                text-align: center;
            }
            
            #banner_marqueavaliacao_3 {
                font-size: 30px;
                top: 160px;
            }
        }
    </style>
</div>