<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; background-color: rgb(233, 233, 233); padding: 0px; max-height: 250px; height: 213px; overflow: visible;">
    <!-- START REVOLUTION SLIDER 4.6.5 fullwidth mode -->
    <div id="rev_slider_2_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 250px; height: 213px;">
        <ul class="tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 250px;">
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-link="/contato/" data-saveperformance="on" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="8000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center center" data-bgposition="center right" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="100" data-owidth="undefined" data-oheight="undefined">
                    <div class="tp-bgimg defaultimg" data-lazyload="/images/Sorrisos-perfeito.jpg" data-bgfit="100" data-bgposition="center right" data-bgrepeat="no-repeat" data-lazydone="undefined" src="/images/Sorrisos-perfeito.jpg" data-src="/images/revslider/dummy.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;/images/Sorrisos-perfeito.jpg&quot;); background-position: right center; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div>
                    <div class="kenburnimg" style="position:absolute;z-index:1;width:100%;height:100%;top:0px;left:0px;"><img src="/images/Sorrisos-perfeito.jpg" style="user-select: none; position: absolute; width: 100%; height: 256%; left: 0px; top: 0px; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, -166); transform-origin: 0% 0% 0px;"></div>
                </div>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mdf1 tp-fade tp-resizeme start" data-x="54" data-y="19" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: 349.778px; max-height: 29.7865px; white-space: normal; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 34px; left: 45.9563px; top: 16.1698px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">Marque sua consulta de avaliação 
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption small_light_white tp-fade tp-resizeme start" data-x="70" data-y="135" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 59.5729px; top: 114.891px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">Marque agora CLICANDO AQUI ou ligando para 
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption white_heavy_70 tp-fade tp-resizeme start" data-x="14" data-y="156" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 60px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 11.9146px; top: 132.763px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">021-2266-5955 
                </div>
                <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 17px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 12px; left: 0px; top: -0.119792px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" data-x="center" data-y="center" data-linktoslide="no" data-start="0"><a style="width:100%;height:100%;display:block" target="_self" href="/contato/"><span style="width:100%;height:100%;display:block"></span></a></div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-link="/contato/" data-saveperformance="on" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; visibility: hidden; opacity: 0; z-index: 18;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="8000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center center" data-bgposition="center right" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="100" data-owidth="undefined" data-oheight="undefined">
                    <div class="tp-bgimg defaultimg" data-lazyload="/images/Sorrisos-perfeito.jpg" data-bgfit="100" data-bgposition="center right" data-bgrepeat="no-repeat" data-lazydone="undefined" src="/images/revslider/dummy.png" data-src="/images/revslider/dummy.png" style="background-color:rgba(0, 0, 0, 0);background-repeat:no-repeat;background-image:url(/images/revslider/images/dummy.png);background-size:100;background-position:center right;width:100%;height:100%;"></div>
                </div>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mdf1 tp-fade tp-resizeme start" data-x="54" data-y="19" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: 411px; max-height: 35px; white-space: normal;">Marque sua consulta de avaliação 
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption small_light_white tp-fade tp-resizeme start" data-x="70" data-y="135" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Marque agora CLICANDO AQUI ou ligando para 
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption white_heavy_70 tp-fade tp-resizeme start" data-x="14" data-y="156" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">021-2266-5955 
                </div>
                <div class="tp-caption sft slidelink" style="width:100%;height:100%;z-index:60;" data-x="center" data-y="center" data-linktoslide="no" data-start="0"><a style="width:100%;height:100%;display:block" target="_self" href="/contato/"><span style="width:100%;height:100%;display:block"></span></a></div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important; width: 0%;"></div>
        <div class="tp-loader spinner1" style="display: none;">
            <div class="dot1"></div>
            <div class="dot2"></div>
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <style scoped="">.tp-caption.small_light_white,.small_light_white{font-size:17px;line-height:28px;font-weight:300;font-family:"Open Sans";color:rgb(255,255,255);text-decoration:none;background-color:transparent;padding:0px;border-width:0px;border-color:rgb(255,214,88);border-style:none}.tp-caption.white_heavy_70,.white_heavy_70{font-size:70px;line-height:70px;font-weight:900;font-family:Raleway;color:rgb(255,255,255);text-decoration:none;background-color:transparent;text-shadow:none;border-width:0px;border-color:rgb(0,0,0);border-style:none}.tp-caption.mdf1,.mdf1{font-size:40px;line-height:35px;font-weight:700;font-family:Arial;color:#ffffff;text-decoration:none;background-color:transparent;text-shadow:rgba(0,0,0,0.5) 0px 2px 5px;margin:0px;white-space:nowrap;text-align:center;border-width:0px;border-color:rgb(255,255,255);border-style:none}</style>
    <script type="text/javascript">
        /******************************************
            -	PREPARE PLACEHOLDER FOR SLIDER	-
        ******************************************/
        
        
        var setREVStartSize = function() {
            var	tpopt = new Object();
                tpopt.startwidth = 960;
                tpopt.startheight = 250;
                tpopt.container = jQuery('#rev_slider_2_1');
                tpopt.fullScreen = "off";
                tpopt.forceFullWidth="off";
        
            tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on"){tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight})}catch(e){}}tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css({height:"100%"});tpopt.height=coh;}else{tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);}
        };
        
        /* CALL PLACEHOLDER */
        setREVStartSize();
        
        
        var tpj=jQuery;
        tpj.noConflict();
        var revapi2;
        
        tpj(document).ready(function() {
        
        if(tpj('#rev_slider_2_1').revolution == undefined){
            revslider_showDoubleJqueryError('#rev_slider_2_1');
        }else{
            revapi2 = tpj('#rev_slider_2_1').show().revolution(
            {	
                                        dottedOverlay:"none",
                delay:9000,
                startwidth:960,
                startheight:250,
                hideThumbs:200,
        
                thumbWidth:100,
                thumbHeight:50,
                thumbAmount:1,
                
                                        
                simplifyAll:"off",
        
                navigationType:"none",
                navigationArrows:"none",
                navigationStyle:"round",
        
                touchenabled:"on",
                onHoverStop:"on",
                nextSlideOnWindowFocus:"off",
        
                swipe_threshold: 75,
                swipe_min_touches: 1,
                drag_block_vertical: false,
                
                                        
                                        
                keyboardNavigation:"off",
        
                navigationHAlign:"center",
                navigationVAlign:"bottom",
                navigationHOffset:0,
                navigationVOffset:20,
        
                soloArrowLeftHalign:"left",
                soloArrowLeftValign:"center",
                soloArrowLeftHOffset:20,
                soloArrowLeftVOffset:0,
        
                soloArrowRightHalign:"right",
                soloArrowRightValign:"center",
                soloArrowRightHOffset:20,
                soloArrowRightVOffset:0,
        
                shadow:0,
                fullWidth:"on",
                fullScreen:"off",
        
                                        spinner:"spinner1",
                                        
                stopLoop:"on",
                stopAfterLoops:0,
                stopAtSlide:1,
        
                shuffle:"off",
        
                autoHeight:"off",
                forceFullWidth:"off",
                
                
                hideTimerBar:"on",
                hideThumbsOnMobile:"off",
                hideNavDelayOnMobile:1500,
                hideBulletsOnMobile:"off",
                hideArrowsOnMobile:"off",
                hideThumbsUnderResolution:0,
        
                                        hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                startWithSlide:0					});
        
        
        
                            }
        });	/*ready*/
        
    </script>
    <style type="text/css">
        #rev_slider_2_1_wrapper .tp-loader.spinner1{ background-color: #FFFFFF !important; }
    </style>
    <div style="visibility:hidden;display:none" class="tp-leftarrow tparrows round hidearrows">
        <div class="tp-arr-allwrapper">
            <div class="tp-arr-iwrapper">
                <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;/images/revslider/dummy.png&quot;);"></div>
                <div class="tp-arr-imgholder2"></div>
                <div class="tp-arr-titleholder"></div>
                <div class="tp-arr-subtitleholder"></div>
            </div>
        </div>
    </div>
    <div style="visibility:hidden;display:none" class="tp-rightarrow tparrows round hidearrows">
        <div class="tp-arr-allwrapper">
            <div class="tp-arr-iwrapper">
                <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;/images/revslider/dummy.png&quot;);"></div>
                <div class="tp-arr-imgholder2"></div>
                <div class="tp-arr-titleholder"></div>
                <div class="tp-arr-subtitleholder"></div>
            </div>
        </div>
    </div>
</div>
<!-- END REVOLUTION SLIDER -->