        <div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px" class="forcefullwidth_wrapper_tp_banner"><div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; background-color: rgb(233, 233, 233); padding: 0px; max-height: 500px; height: 500px; left: 0px; position: absolute; width: 1903px; overflow: visible;">
        <!-- START REVOLUTION SLIDER 4.6.5 fullwidth mode -->
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 500px; height: 500px; background-color: rgb(233, 233, 233); background-image: none;">
        <ul class="tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 500px;">	<!-- SLIDE  -->
            <li data-transition="random-static,fade" data-slotamount="1" data-masterspeed="1500" data-thumb="/images/uploads/2015/04/home01-320x200.jpg" data-delay="6000" data-saveperformance="off" data-title="Slide" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="14000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="right center" data-bgposition="left center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="100" data-bgposition="left center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="/images/uploads/2015/04/home01.jpg" data-src="/images/uploads/2015/04/home01.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;/images/uploads/2015/04/home01.jpg&quot;); background-position: 100% 50%; width: 100%; height: 100%; opacity: 0; visibility: hidden; background-size: 110.995% 280.817%; transform: matrix(1, 0, 0, 1, 0, 0);"></div></div>
                <!-- LAYERS -->
            </li>
            <!-- SLIDE  -->
            <li data-transition="random-static,slidedown" data-slotamount="1" data-masterspeed="1500" data-thumb="/images/uploads/revslider/Home2/home021-320x200.jpg" data-delay="7500" data-saveperformance="off" data-title="Sorriso" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="16000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center bottom" data-bgposition="center center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="110" data-bgfitend="100" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="110" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="/images/uploads/revslider/Home2/home021.jpg" data-src="/images/uploads/revslider/Home2/home021.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;/images/uploads/revslider/Home2/home021.jpg&quot;); background-position: 50% 69.6541%; width: 100%; height: 100%; opacity: 0; visibility: hidden; background-size: 105.668% 237.753%; transform: matrix(1, 0, 0, 1, 0, 0);"></div></div>
                <!-- LAYERS -->
        
                <!-- LAYER NR. 1 -->
                <div class="tp-caption sorriso2 tp-fade fadeout tp-resizeme start splitted" data-x="center" data-hoffset="-4" data-y="center" data-voffset="-158" data-speed="500" data-start="1000" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-end="4000" data-endspeed="500" data-endeasing="Power1.easeOut" style="z-index: 5; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 514.5px; top: 57px; visibility: visible; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-splitted" style="display: block; text-align: left; position: relative;"><div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">T</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">A</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">N</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">F</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">M</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">A</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">N</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">D</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">I</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
        </div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">	</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">	</div></div> </div></div>
        
                <!-- LAYER NR. 2 -->
                <div class="tp-caption sorriso tp-fade fadeout tp-resizeme start splitted" data-x="center" data-hoffset="-3" data-y="center" data-voffset="-161" data-speed="500" data-start="1000" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-end="4000" data-endspeed="500" data-endeasing="Power1.easeOut" style="z-index: 6; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 515.5px; top: 54px; visibility: visible; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-splitted" style="display: block; text-align: left; position: relative;"><div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">T</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">A</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">N</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">F</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">M</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">A</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">N</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">D</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">I</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
        </div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">	</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">	</div></div> </div></div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="random-static" data-slotamount="1" data-masterspeed="1500" data-link="estrutura" data-thumb="/images/uploads/revslider/Home2/home06-320x200.jpg" data-saveperformance="off" data-title="Estruturaa" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="6000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="left center" data-bgposition="right center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="110" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="100" data-bgposition="right center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="/images/uploads/revslider/Home2/home06.jpg" data-src="/images/uploads/revslider/Home2/home06.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;/images/uploads/revslider/Home2/home06.jpg&quot;); background-position: 0% 50%; width: 100%; height: 100%; opacity: 0; visibility: hidden; background-size: 109.067% 233.403%; transform: matrix(1, 0, 0, 1, 0, 0);"></div></div>
                <!-- LAYERS -->
        
                <!-- LAYER NR. 1 -->
                <div class="tp-caption estrutura tp-fade tp-resizeme start" data-x="center" data-hoffset="179" data-y="center" data-voffset="70" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 25px 0px 10px; padding: 0px; letter-spacing: 0px; font-size: 55px; left: 806px; top: 267.5px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 50, 0, 0, 1);">Conheça nossa estrutura 
                </div>
        
                <!-- LAYER NR. 2 -->
                <div class="tp-caption whiteline_long tp-fade tp-resizeme start" data-x="center" data-hoffset="172" data-y="center" data-voffset="121" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 660px; line-height: 1px; border-width: 2px 0px 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 793.5px; top: 370px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"> 
                </div>
            <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 0px; top: 0px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -50, 0, 1);" data-x="center" data-y="center" data-linktoslide="no" data-start="0"><a style="width:100%;height:100%;display:block" target="_self" href="estrutura"><span style="width:100%;height:100%;display:block"></span></a></div></li>
            <!-- SLIDE  -->
            <li data-transition="random-static" data-slotamount="1" data-masterspeed="1500" data-thumb="/images/uploads/2018/09/Dentista-barra-da-tijuca-320x200.jpg" data-saveperformance="off" data-title="Slide" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="15000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="left center" data-bgposition="right center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="100" data-bgposition="right center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="/images/uploads/2018/09/Dentista-barra-da-tijuca.jpg" data-src="/images/uploads/2018/09/Dentista-barra-da-tijuca.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;/images/uploads/2018/09/Dentista-barra-da-tijuca.jpg&quot;); background-position: 0% 50%; width: 100%; height: 100%; opacity: 1; visibility: inherit; background-size: 110.836% 227.214%; transform: matrix(1, 0, 0, 1, 0, 0);"></div><div class="kenburnimg" style="position:absolute;z-index:1;width:100%;height:100%;top:0px;left:0px;"><img src="/images/uploads/2018/09/Dentista-barra-da-tijuca.jpg" style="user-select: none; position: absolute; width: 100%; height: 205%; left: 0px; top: 0px; visibility: inherit; opacity: 1; transform: matrix(1.05512, 0, 0, 1.05512, 0, -290.749); transform-origin: 0% 0% 0px;"></div></div>
                <!-- LAYERS -->
            </li>
            <!-- SLIDE  -->
            <li data-transition="random-static" data-slotamount="1" data-masterspeed="1500" data-thumb="/images/uploads/2018/09/Dentista-na-barra-da-tijuca-320x200.jpg" data-saveperformance="off" data-title="Slide" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="6000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center center" data-bgposition="left top" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="110" data-bgfitend="100" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="110" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="/images/uploads/2018/09/Dentista-na-barra-da-tijuca.jpg" data-src="/images/uploads/2018/09/Dentista-na-barra-da-tijuca.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;/images/uploads/2018/09/Dentista-na-barra-da-tijuca.jpg&quot;); background-position: 0% 44.3682%; width: 100%; height: 100%; opacity: 1; visibility: inherit; background-size: 100.945% 187.758%; transform: matrix(1, 0, 0, 1, 0, 0);"></div></div>
                <!-- LAYERS -->
            </li>
            <!-- SLIDE  -->
            <li data-transition="random-static,slideleft" data-slotamount="1" data-masterspeed="1500" data-link="blog" data-thumb="/images/uploads/revslider/Home2/home031.jpg" data-delay="6000" data-saveperformance="off" data-title="Blog" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; visibility: hidden; opacity: 0; z-index: 18;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="16000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="left center" data-bgposition="right center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="130" data-bgposition="right center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="/images/uploads/revslider/Home2/home031.jpg" data-src="/images/uploads/revslider/Home2/home031.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;/images/uploads/revslider/Home2/home031.jpg&quot;); background-position: 100% 50%; width: 100%; height: 100%; opacity: 1; visibility: inherit; background-size: 121.032% 254.167%; transform: matrix(1, 0, 0, 1, 0, 0);"></div></div>
                <!-- LAYERS -->
        
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fullgradient_overlay tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="100" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power1.easeOut" style="z-index: 5; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 0px; top: 0px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);"> 
                </div>
        
                <!-- LAYER NR. 2 -->
                <div class="tp-caption white_heavy_70 tp-fade fadeout tp-resizeme start splitted" data-x="center" data-hoffset="0" data-y="center" data-voffset="-37" data-speed="500" data-start="600" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-endspeed="200" style="z-index: 6; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 70px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 70px; left: 601px; top: 178px; visibility: visible; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-splitted" style="display: block; text-align: left; position: relative;"><div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">V</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">I</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">I</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">T</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">E</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">N</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">B</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">L</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">G</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
        </div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">	</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">	</div></div> </div></div>
        
                <!-- LAYER NR. 3 -->
                <div class="tp-caption light_medium_20 tp-fade fadeout tp-resizeme start splitted" data-x="right" data-hoffset="-622" data-y="center" data-voffset="-93" data-speed="500" data-start="0" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" data-endspeed="200" data-endeasing="Power1.easeOut" style="z-index: 7; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 20px; left: 596.5px; top: 142px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);"><div class="tp-splitted" style="display: block; text-align: left; position: relative;"><div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">P</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">a</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">r</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">a</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">f</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">i</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">c</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">a</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">r</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">b</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">e</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">m</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">i</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">n</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">f</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">o</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">r</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">m</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">a</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">d</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">o</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
        </div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">	</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">	</div></div> </div></div>
        
                <!-- LAYER NR. 4 -->
                <div class="tp-caption whiteline_long customin fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="15" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="200" data-endeasing="Linear.easeNone" style="z-index: 8; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 660px; line-height: 1px; border-width: 2px 0px 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 621.5px; top: 264px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"> 
                </div>
        
                <!-- LAYER NR. 5 -->
                <div class="tp-caption lfb fadeout start" data-x="-16" data-y="308" data-speed="400" data-start="700" data-easing="Power3.easeInOut" data-elementdelay="0.8" data-endelementdelay="0.1" data-endspeed="200" data-endeasing="Linear.easeNone" style="z-index: 9; left: 423.5px; top: 308px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);"><img src="/images/uploads/revslider/Home2/logo.png" alt="" style="width: 213px; height: 86px;"> 
                </div>
            <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 0px; top: 0px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -50, 0, 1);" data-x="center" data-y="center" data-linktoslide="no" data-start="0"><a style="width:100%;height:100%;display:block" target="_self" href="blog"><span style="width:100%;height:100%;display:block"></span></a></div></li>
        </ul>
        <div class="tp-bannertimer" style="width: 55.2667%; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div>	<div class="tp-loader spinner3" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                    
        
                    <style scoped="">.tp-caption.sorriso2,.sorriso2{font-size:60px;line-height:70px;font-weight:900;font-family:Lato;color:rgb(0,0,0);text-decoration:none;text-shadow:none;background-color:transparent;border-width:0px;border-color:rgb(0,0,0);border-style:none}.tp-caption.sorriso,.sorriso{font-size:60px;line-height:70px;font-weight:900;font-family:Lato;color:rgb(255,255,255);text-decoration:none;text-shadow:none;background-color:transparent;border-width:0px;border-color:rgb(0,0,0);border-style:none}.tp-caption.fullgradient_overlay,.fullgradient_overlay{background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);filter:progid;width:100%;height:100%;border-width:0px;border-color:rgb(34,34,34);border-style:none}.tp-caption.white_heavy_70,.white_heavy_70{font-size:70px;line-height:70px;font-weight:900;font-family:Raleway;color:rgb(255,255,255);text-decoration:none;background-color:transparent;text-shadow:none;border-width:0px;border-color:rgb(0,0,0);border-style:none}.tp-caption.light_medium_20,.light_medium_20{font-size:20px;line-height:30px;font-weight:700;font-family:Raleway;color:#ffffff;text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(0,0,0);border-style:none}.tp-caption.whiteline_long,.whiteline_long{line-height:1px;min-width:660px;background-color:transparent;text-decoration:none;border-width:2px 0px 0px 0px;border-color:rgb(255,255,255) rgb(34,34,34) rgb(34,34,34) rgb(34,34,34);border-style:solid none none none}.tp-caption.estrutura,.estrutura{font-size:55px;line-height:70px;font-weight:900;font-family:Raleway;color:rgb(255,255,255);text-decoration:none;text-shadow:none;background-color:transparent;border-width:0px;border-color:rgb(0,0,0);border-style:none}</style>
        
                    <script type="text/javascript">
        
                        /******************************************
                            -	PREPARE PLACEHOLDER FOR SLIDER	-
                        ******************************************/
                        
        
                        var setREVStartSize = function() {
                            var	tpopt = new Object();
                                tpopt.startwidth = 1024;
                                tpopt.startheight = 500;
                                tpopt.container = jQuery('#rev_slider_1_1');
                                tpopt.fullScreen = "off";
                                tpopt.forceFullWidth="on";
        
                            tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on"){tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight})}catch(e){}}tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css({height:"100%"});tpopt.height=coh;}else{tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);}
                        };
        
                        /* CALL PLACEHOLDER */
                        setREVStartSize();
        
        
                        var tpj=jQuery;
                        tpj.noConflict();
                        var revapi1;
        
                        tpj(document).ready(function() {
        
                        if(tpj('#rev_slider_1_1').revolution == undefined){
                            revslider_showDoubleJqueryError('#rev_slider_1_1');
                        }else{
                           revapi1 = tpj('#rev_slider_1_1').show().revolution(
                            {	
                                                        dottedOverlay:"none",
                                delay:6000,
                                startwidth:1024,
                                startheight:500,
                                hideThumbs:200,
        
                                thumbWidth:100,
                                thumbHeight:50,
                                thumbAmount:5,
                                
                                                        
                                simplifyAll:"off",
        
                                navigationType:"bullet",
                                navigationArrows:"solo",
                                navigationStyle:"preview1",
        
                                touchenabled:"on",
                                onHoverStop:"off",
                                nextSlideOnWindowFocus:"off",
        
                                swipe_threshold: 0.7,
                                swipe_min_touches: 1,
                                drag_block_vertical: false,
                                
                                                        
                                                        
                                keyboardNavigation:"off",
        
                                navigationHAlign:"center",
                                navigationVAlign:"bottom",
                                navigationHOffset:0,
                                navigationVOffset:20,
        
                                soloArrowLeftHalign:"left",
                                soloArrowLeftValign:"center",
                                soloArrowLeftHOffset:20,
                                soloArrowLeftVOffset:0,
        
                                soloArrowRightHalign:"right",
                                soloArrowRightValign:"center",
                                soloArrowRightHOffset:20,
                                soloArrowRightVOffset:0,
        
                                shadow:0,
                                fullWidth:"on",
                                fullScreen:"off",
        
                                                        spinner:"spinner3",
                                                        
                                stopLoop:"off",
                                stopAfterLoops:-1,
                                stopAtSlide:-1,
        
                                shuffle:"off",
        
                                autoHeight:"off",
                                forceFullWidth:"on",
                                
                                
                                
                                hideThumbsOnMobile:"off",
                                hideNavDelayOnMobile:1500,
                                hideBulletsOnMobile:"off",
                                hideArrowsOnMobile:"off",
                                hideThumbsUnderResolution:0,
        
                                                        hideSliderAtLimit:0,
                                hideCaptionAtLimit:0,
                                hideAllCaptionAtLilmit:0,
                                startWithSlide:0					});
        
        
        
                                            }
                        });	/*ready*/
        
                    </script>
        
        
                    <style type="text/css">
            #rev_slider_1_1_wrapper .tp-loader.spinner3 div { background-color: #FFFFFF !important; }
        </style>
        <div class="tp-bullets simplebullets preview1 hidebullets" style="bottom: 20px; left: 50%; margin-left: -78px;"><div class="bullet first"></div><div class="bullet"></div><div class="bullet"></div><div class="bullet selected"></div><div class="bullet"></div><div class="bullet last"></div><div class="tpclear"></div></div><div style="position: absolute; top: 250px; margin-top: -50px; left: 0px;" class="tp-leftarrow tparrows default preview1 hidearrows"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;/images/uploads/revslider/Home2/home06-320x200.jpg&quot;);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder">Estruturaa</div><div class="tp-arr-subtitleholder"></div></div></div></div><div style="position: absolute; top: 250px; margin-top: -50px; right: 0px;" class="tp-rightarrow tparrows default preview1 hidearrows"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;/images/uploads/2018/09/Dentista-na-barra-da-tijuca-320x200.jpg&quot;);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder">Slide</div><div class="tp-arr-subtitleholder"></div></div></div></div></div><div class="tp-fullwidth-forcer" style="width:100%;height:500px"></div></div><!-- END REVOLUTION SLIDER -->
                                    
        
                                    <div class="row clearfix"></div>
                        
                        <div class="container widgets">
                        <div class="row">
                                        
                         <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="teaser">
                                <a href="/depoimentos/" class="view-first">
                                    <h3 class="teaser-title">Depoimentos</h3>
                                    <div class="view">
                                        <img width="600" height="335" src="/images/uploads/2014/03/Depoimento-600x335.jpg" class="attachment-mdf_home_widgets size-mdf_home_widgets wp-post-image" alt="">                                <div class="mask">
                                            <span class="info">Saiba Mais</span>
                                        </div><!-- mask -->
                                    </div><!-- view -->                        
                                </a>
                            </div>
                         </div><!-- col -->
                        
                                         
                                        
                         <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="teaser">
                                <a href="/implante-dental/" class="view-first">
                                    <h3 class="teaser-title">Tratamentos</h3>
                                    <div class="view">
                                        <img width="600" height="335" src="/images/uploads/2014/03/Tratamento-600x335.jpg" class="attachment-mdf_home_widgets size-mdf_home_widgets wp-post-image" alt="">                                <div class="mask">
                                            <span class="info">Saiba Mais</span>
                                        </div><!-- mask -->
                                    </div><!-- view -->                        
                                </a>
                            </div>
                         </div><!-- col -->
                        
                                         
                                        
                         <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="teaser">
                                <a href="/equipe/" class="view-first">
                                    <h3 class="teaser-title">Equipe</h3>
                                    <div class="view">
                                        <img width="600" height="335" src="/images/uploads/2013/07/Equipe-Md-Frossard-600x335.jpg" class="attachment-mdf_home_widgets size-mdf_home_widgets wp-post-image" alt="">                                <div class="mask">
                                            <span class="info">Saiba Mais</span>
                                        </div><!-- mask -->
                                    </div><!-- view -->                        
                                </a>
                            </div>
                         </div><!-- col -->
                        
                                         
                                        
                         <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="teaser">
                                <a href="/contato/" class="view-first">
                                    <h3 class="teaser-title"><span>Marque sua</span> Consulta</h3>
                                    <div class="view">
                                        <img width="600" height="335" src="/images/uploads/2018/01/telephone-586266_1920-600x335.jpg" class="attachment-mdf_home_widgets size-mdf_home_widgets wp-post-image" alt="">                                <div class="mask">
                                            <span class="info">Saiba Mais</span>
                                        </div><!-- mask -->
                                    </div><!-- view -->                        
                                </a>
                            </div>
                         </div><!-- col -->
                        
                                         
                                        </div><!-- row -->
                        </div><!-- container -->