<%- partial('_partial/home-slider') %>

<div class="row clearfix"></div>

<div class="container widgets">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="teaser">
                <a href="/depoimentos/" class="view-first">
                    <h3 class="teaser-title">Depoimentos</h3>
                    <div class="view">
                        <img width="600" height="335" src="/images/uploads/2014/03/Depoimento-600x335.jpg" class="attachment-mdf_home_widgets size-mdf_home_widgets wp-post-image" alt="" />                                <div class="mask">
                            <span class="info">Saiba Mais</span>
                        </div><!-- mask -->
                    </div><!-- view -->                        
                </a>
            </div>
        </div><!-- col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="teaser">
                <a href="/implante-dental/" class="view-first">
                    <h3 class="teaser-title">Tratamentos</h3>
                    <div class="view">
                        <img width="600" height="335" src="/images/uploads/2014/03/Tratamento-600x335.jpg" class="attachment-mdf_home_widgets size-mdf_home_widgets wp-post-image" alt="" />                                <div class="mask">
                            <span class="info">Saiba Mais</span>
                        </div><!-- mask -->
                    </div><!-- view -->                        
                </a>
            </div>
        </div><!-- col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="teaser">
                <a href="/equipe/" class="view-first">
                    <h3 class="teaser-title">Equipe</h3>
                    <div class="view">
                        <img width="600" height="335" src="/images/uploads/2013/07/Equipe-Md-Frossard-600x335.jpg" class="attachment-mdf_home_widgets size-mdf_home_widgets wp-post-image" alt="" />                                <div class="mask">
                            <span class="info">Saiba Mais</span>
                        </div><!-- mask -->
                    </div><!-- view -->                        
                </a>
            </div>
        </div><!-- col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="teaser">
                <a href="/contato/" class="view-first">
                    <h3 class="teaser-title"><span>Marque sua</span> Consulta</h3>
                    <div class="view">
                        <img width="600" height="335" src="/images/uploads/2018/01/telephone-586266_1920-600x335.jpg" class="attachment-mdf_home_widgets size-mdf_home_widgets wp-post-image" alt="" />                                <div class="mask">
                            <span class="info">Saiba Mais</span>
                        </div><!-- mask -->
                    </div><!-- view -->                        
                </a>
            </div>
        </div><!-- col -->

    </div><!-- row -->
</div><!-- container -->