---
layout: layout.ejs
---

<div class="row">
    <div class="col-md-9 col-sm-8 col-xs-12 contblog pull-right contpage tratasingle">
        <article>
            <h1 class="title2" style="margin-bottom:20px;"><%- title %></h1>
            <% var treatmentImage = typeof featured_image !== 'undefined' ? featured_image : ''; %>
            <% if (treatmentImage) { %>
            <img width="500" height="205" src="<%= treatmentImage %>" class="attachment-mdf_post size-mdf_post wp-post-image" alt="">
            <% } %>
            <%- content %>
        </article>
    </div>
    <!-- contpage -->
</div>
<!-- row -->