<div class="row">
    <div class="col-md-9 col-sm-8 col-xs-12 contblog pull-right contpage tratasingle">
        <article>
            <h1 class="title2" style="margin-bottom:20px;"><%- page.title %></h1>
            <%- partial('_partial/post/featured_image', {post: page, index: false}) %>
            <%- page.content %>
        </article>
    </div>
    <!-- contpage -->
</div>
<!-- row -->