---
layout: layout.ejs
---

<%
var customClass = typeof locals !== 'undefined' && locals['class'] ? ' ' + locals['class'] : '';
var pageIdClass = typeof id !== 'undefined' && id ? ' ' + id.toString().toLowerCase() : '';
var shouldHideTitle = typeof hide_title !== 'undefined' ? hide_title : false;
%>
<div class="row">
    <div class="contpage<%= pageIdClass %><%= customClass %>">
        <% if (!shouldHideTitle) { %><h1 class="title2" style="margin-bottom:20px;"><%- title %></h1><% } %>
        <%- content %>
    </div>
    <!-- contpage -->
</div>
<!-- row -->