<div class="row">
    <div class="contpage<%= page.id ? ' ' + page.id.toString().toLowerCase() : '' %><%= page.class ? ' ' + page.class : '' %>">
        <% if (!page.hide_title) { %><h1 class="title2" style="margin-bottom:20px;"><%- page.title %></h1><% } %>
        <%- page.content %>
    </div>
    <!-- contpage -->
</div>
<!-- row -->