<div class="row" style="margin-top: 30px;">
    <div class="col-md-3 col-sm-4 col-xs-12 contsidebar pull-left">
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    </div>
    <!-- col -->
    <div class="col-md-9 col-sm-8 col-xs-12 contblog pull-right">
        <%- partial('_partial/article', {post: page, index: false}) %>
    </div>
    <!-- col -->
</div>
<!-- row -->