<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  // TODO: ver https://developers.facebook.com/docs/facebook-pixel/support/pixel-migration/
  // usado em head.ejs


  // <script>(function() {
  // var _fbq = window._fbq || (window._fbq = []);
  // if (!_fbq.loaded) {
  // var fbds = document.createElement('script');
  // fbds.async = true;
  // fbds.src = '//connect.facebook.net/en_US/fbds.js';
  // var s = document.getElementsByTagName('script')[0];
  // s.parentNode.insertBefore(fbds, s);
  // _fbq.loaded = true;
  // }
  // _fbq.push(['addPixelId', '266409860211711']);
  // })();
  // window._fbq = window._fbq || [];
  // window._fbq.push(['track', 'PixelInitialized', {}]);
  
  // <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=266409860211711&amp;ev=PixelInitialized" /></noscript>
</script>