<footer id="footer" class="footer">
  <div class="l-decoration"></div> <!-- l-decoration -->
  <div class="container">
    <div class="row">
      <div class="consultorios">
        <h3>Consultórios:</h3>
        
        <div class="col-md-6 col-sm-6 col-xs-12 consultorio ">
          <h4>Barra da Tijuca</h4>
					<div>
            Av. das Américas, 700. Bloco 2 / Sala 143 - Shopping Città America, CEP: 22640-100
            <br/>
            Telefone: <a onclick="goog_report_conversion('tel:3217-0430')" href="tel:3217-0430" data-key="0">3217-0430</a>
            <br/>
            <a href="/localizacao" alt="Mapa" title="Mapa">Mapa</a>
					</div>
				</div><!-- consultorio -->
        
        <div class="col-md-6 col-sm-6 col-xs-12 consultorio bordal">
					<h4>Botafogo / Humaitá</h4>
					<div>
            Rua Marques, 15. Humaitá. CEP: 22260-240
            <br/>
            Telefone: <a onclick="goog_report_conversion('tel:2266-5955')" href="tel:2266-5955" data-key="0">2266-5955</a> | <a onclick="goog_report_conversion('tel:2266-0375')" href="tel:2266-0375" data-key="1">2266-0375</a>
            <br/>
            <a href="/localizacao" alt="Mapa" title="Mapa">Mapa</a>
					</div>
				</div><!-- consultorio -->

      </div><!-- consultorios -->
    </div><!-- row -->
  </div><!-- container -->
 
  <div class="split scroll-top">
    <a href="javascript:void(0)" id="subir" alt="Subir" title="Subir"></a>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 info">
        <p>
          EPAO -3415 - Responsável Técnico - Davi H. Frossard CRO 36193.
          <br/>
          &copy; 2018<span> MD Frossard.</span> Todos os direitos reservados.
          <br/>
          <br/>
          Site desenvolvido por <a href="https://thiagodias.com.br/?utm_source=mdfrossard&utm_medium=footer&utm_campaign=clientes" target="_blank" title="Site desenvolvido por Thiago Dias">Thiago Dias</a>
        </p>
      </div>
    </div><!-- row -->
  </div><!-- container-fluid -->   
</footer><!-- footer -->